.App {
  text-align: center;
}

#header {
  background-color: white;
  padding: 0 0px 0px 5px;
  height: 3.5rem;
}

.navbar {
  padding: 0px;
}

.headerImg {
  height: 3rem;
  width: 3rem;
  padding: 0px 0px 5px 0px;
}

#userInfoPanel {
  height: 6rem;
}

#userInfoPanel .row-1 {
  padding: 10px 5px 0px 5px;
  font-size: .8em;
}

#userInfoPanel .row-2 {
  padding: 10px 5px 1px 5px;
  font-size: .8em;
}

.amazon-colors {
  background-color: #232F3E;
  color: white;
}

.amazon-colors a {
  color: white;
}

#searchBox {
  padding: 0px 0px 0px 10px;
}

.search-input {
  height: 34px;
}

.search-icon {
  background-color: #FCBC6F;
  text-align: right;
}

.fa-search {
  height: 1em;
  width: 1em;
}

#slider {
  height: 18.5rem;
}

.sliderPic {
  height: 300px;
  /* width: 1500px; */
}

.carousel-control-next.carousel-control-next-icon {
  zoom: 50;
}

#productsDisplay {
  background-color: #EAEDED;
}

.row-one-container .card-deck {
  padding: 30px;
}

#row-two-container {
  padding: 30px 50px 10px 10px;
  background-color: white; 
}

#backToTopPanel {
  background-color: #384759;
}

#footer {
  background-color: #1A2213;
}
